body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fff;
}

.dashboard-container {
    margin-left: 250px;
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 20px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6a11cb;
    font-size: 15px;
}

.search-add {
    display: flex;
    align-items: center;
}

.search-add input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.add-task {
    background: #6a11cb;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #f4f7f6;
    color: #6a11cb;
    padding: 40px 20px;
    font-size: 19px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.progress-card {
    background: #f4f7f6;
    color: #6a11cb;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-circle {
    width: 80px;
    height: 80px;
    background: #6a11cb;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px auto;
}

.stats-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.graph {
    background: #f4f7f6;
    color: #6a11cb;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.activities {
    background: #f4f7f6;
    color: #6a11cb;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .menu-toggle {
        display: flex; 
    }
    
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    
    .sidebar.active {
        transform: translateX(0);
    }
    
    .dashboard-container {
        margin-left: 0px;
        margin-top: 50px;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        transition: margin 0.3s ease;
    }
    
    .dashboard-cards,
    .stats-section {
        flex-direction: column;
    }
}